.login-container {
    max-width: 420px;
    margin: 0 auto;
    margin: 0 auto;
    margin-top: 40px;
}

.login-form-button {
    width: 100%;
}

.login-panel{
    font-size: '2em';
    height:'50';
    vertical-align:'middle';
    
}


  .bank-logo-div{
      float:'rignt';
      padding:'0px 10px';
  }
  .bank-logo{
      height:'50px';
      width:'60px';
  }


input {
    width: 100%;
    border-radius: 4px;
    
}

